<section class="form">
    <div class="container">

        <form action="">
            <div class="form-heading">
                <h1 class="h1">Create Account</h1>
                <p>
                    Already have an account?
                    <a href="#">Sign in here</a>
                </p>
            </div>
            <div class="label-firstname">
                <label for="firstname">First name</label>
                <input type="text">
            </div>
            <div class="label-lastname">
                <label for="lastname">Last name</label>
                <input type="text">
            </div>
            <div class="label-email">
                <label for="email">Email address</label>
                <input type="text">
            </div>
            <div class="label-password">
                <label for="password">Password</label>
                <input type="text">
            </div>
            <div class="label-confirm-password">
                <label for="confirm-password">Confirm password</label>
                <input type="text">
            </div>
            <div class="terms">
                <input type="checkbox">
                <p>
                    I agree to the
                    <a href="#">Terms & Conditions</a>
                </p>
            </div>
        </form>

    </div>
</section>