@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.more-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none !important;
}
.more-link i {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}
.more-link:hover span {
  text-decoration: underline;
}
.more-link:hover i {
  background: #33354D;
  color: #FFFFFF;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

@media (min-width: 992px) {
  .btn-mobile {
    display: none;
  }
}

form {
  width: 100%;
  display: grid;
}
form .input-group {
  margin: 1rem 0;
  display: grid;
}
form .Checkbox span {
  display: block;
}
form .Checkbox span.field-validation-error {
  position: static;
  top: 0;
  right: 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  color: #EF4444;
}
form .Checkbox .checkbox-group {
  position: relative;
  height: 50px;
  /*
  .field-validation-error-terms {


      &::after {
          @include text-s;
          color: $danger;
          position: absolute;
          right: 10px;
          top: 0px;
          z-index: 10;
          font-size: 2em;
          display: block;
          content: '\2BBF';
      }
  }*/
}
form .Checkbox .checkbox-group .input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
form .Checkbox .checkbox-group .input-group input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.06rem solid red;
}
form .Checkbox .checkbox-group .input-group input[type=checkbox].input-validation-error {
  position: relative;
  bow-shadow: 0 0 0 0.06rem #EF4444;
  color: #EF4444;
}
form .Checkbox .checkbox-group .input-group input[type=checkbox].input-validation-error::placeholder {
  color: #EF4444;
}
form .Checkbox .checkbox-group .input-group label {
  margin: 0;
  font-weight: 400;
}
form label {
  margin-bottom: 3px;
  font-weight: 700;
}
form input {
  padding: 1rem;
  border-radius: 8px !important;
  border: 1px solid #D4D7E5;
}
form input::placeholder {
  opacity: 0.4;
}
form input.input-validation-error {
  position: relative;
  border: 0.06rem solid #EF4444 !important;
  color: #EF4444;
}
form input.input-validation-error::placeholder {
  color: #EF4444;
}
form input:focus {
  outline: none;
  border: 0.06rem solid #9397AD;
}
form textarea {
  padding: 1rem;
  border-radius: 0.5rem !important;
  border: 0.06 rem solid #D4D7E5;
  resize: none;
}
form textarea::placeholder {
  opacity: 0.4;
}
form textarea.input-validation-error {
  border: 0.06rem solid #EF4444 !important;
  color: #EF4444;
}
form span.field-validation-error {
  top: 0;
  right: 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  color: #EF4444;
}
form span.field-validation-error::after {
  position: absolute;
  right: 10px;
  top: 67px;
  z-index: 10;
  font-size: 2em;
  display: block;
  content: "⮿";
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
}
header .container .hamburger-icon {
  display: block;
  grid-area: 1/5;
}
@media (min-width: 992px) {
  header .container .hamburger-icon {
    display: none;
  }
}
header .container .toggle-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  header .container .toggle-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  display: none;
  gap: 15px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}
header .container .toggle-switch {
  grid-area: switch;
  width: 60px;
  height: 34px;
}
footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: #565973;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.showcase {
  display: flex;
  flex-direction: row;
}
.showcase .container {
  display: flex;
}
@media (min-width: 992px) {
  .showcase .container {
    padding: 0;
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
  }
}
.showcase .container .background-image {
  display: none;
  max-width: 100%;
  height: auto;
  gap: 0;
}
@media (min-width: 992px) {
  .showcase .container .background-image {
    display: block;
    width: 60%;
  }
}
.showcase .container .content {
  padding: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container .content {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 20px;
  }
}
.showcase .container .content h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}
.showcase .container .content .btn-short {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .showcase .container .content .btn-short {
    margin-left: 0;
  }
}
.showcase .container .content .brands-wrapper {
  margin-top: 50px;
}
.showcase .container .content .brands-wrapper .brands {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
}
@media (min-width: 992px) {
  .showcase .container .content .brands-wrapper .brands {
    gap: 15px;
    justify-content: left;
    margin-left: -25px;
  }
}

#signup {
  height: 100%;
}
#signup .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 992px) {
  #signup .container {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  #signup .container {
    width: 40%;
  }
}
#signup .container form {
  padding: 1rem;
}
#signup .container form .content {
  display: grid;
  gap: 0 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "button";
}
@media (min-width: 768px) {
  #signup .container form .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "button button";
  }
}
#signup .container form .content #form-firstname {
  grid-area: firstname;
}
#signup .container form .content #form-lastname {
  grid-area: lastname;
}
#signup .container form .content #form-email {
  grid-area: email;
}
#signup .container form .content #form-password {
  grid-area: password;
}
#signup .container form .content #form-confirm {
  grid-area: confirm;
}
#signup .container form .content #form-terms {
  grid-area: terms;
}
#signup .container form .content #form-submit {
  grid-area: button;
}

#signin {
  height: 100%;
}
#signin .container .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "email" "password" "remember" "button" "forgot";
}
#signin .container .content #form-email {
  grid-area: email;
}
#signin .container .content #form-firstname {
  grid-area: firstname;
}
#signin .container .content #form-lastname {
  grid-area: lastname;
}
#signin .container .content #form-remember {
  grid-area: remember;
}
#signin .container .content #form-password {
  grid-area: password;
}
#signin .container .content #form-button {
  grid-area: button;
}
#signin .container .content #form-forgot-password {
  width: 100%;
  grid-area: forgot;
  margin: 1rem 0 0 0;
  text-align: center;
}

#account-details {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 150px;
  margin-bottom: 70px;
}
#account-details aside {
  border-right: 1px solid #E2E5F1;
  padding-right: 20px;
  display: none;
}
@media (min-width: 768px) {
  #account-details aside {
    display: block;
  }
}
#account-details aside .profile-info {
  margin: 20px;
  text-align: center;
}
#account-details aside .profile-info h5 {
  margin-top: 15px;
  margin-bottom: 0;
}
#account-details aside .profile-info p {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}
#account-details aside nav {
  margin-top: 50px;
  text-align: left;
}
#account-details aside nav a {
  margin: 10px 0;
  text-align: left;
  justify-content: flex-start;
}
#account-details aside nav .btn-theme-s {
  text-align: left;
  justify-content: flex-start;
}
#account-details .details {
  margin-top: 50px;
  width: 100%;
}
#account-details .details .basic-info form {
  padding: 1rem;
}
#account-details .details .basic-info form h5 {
  color: #6366F1;
}
#account-details .details .basic-info form .content {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname" "lastname" "email" "phone" "bio" "buttons";
}
@media (min-width: 768px) {
  #account-details .details .basic-info form .content {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";
  }
}
#account-details .details .basic-info form .content #form-firstname {
  grid-area: firstname;
}
#account-details .details .basic-info form .content #form-lastname {
  grid-area: lastname;
}
#account-details .details .basic-info form .content #form-email {
  grid-area: email;
}
#account-details .details .basic-info form .content #form-phone {
  grid-area: phone;
}
#account-details .details .basic-info form .content #form-bio {
  grid-area: bio;
}
#account-details .details .basic-info form .content #form-bio span {
  color: #B4B7C9;
  font-weight: 400;
}
#account-details .details .basic-info form .content #form-buttons {
  grid-area: buttons;
  margin: 20px 0;
  display: flex;
  gap: 20px;
}
#account-details .details .address-info {
  margin-top: 30px;
}
#account-details .details .address-info form {
  padding: 1rem;
}
#account-details .details .address-info form h5 {
  color: #6366F1;
}
#account-details .details .address-info form .content {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";
}
#account-details .details .address-info form .content #form-addressline_1 {
  grid-area: addressline_1;
}
#account-details .details .address-info form .content #form-addressline_2 {
  grid-area: addressline_2;
}
#account-details .details .address-info form .content #form-addressline_2 span {
  color: #B4B7C9;
  font-weight: 400;
}
#account-details .details .address-info form .content #form-postalcode {
  grid-area: postalcode;
}
#account-details .details .address-info form .content #form-city {
  grid-area: city;
}
